body{
  background-color: rgb(39, 55, 71) !important;
}

.list-body {
  
  background-color:#2B3139;
  width:30rem;
  display:flex;
  flex-direction: row;
  flex:wrap;
  
}
.list-tile{
  color: #688E9C;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-size: 0.8rem;
  width:33%;
  text-align:center;
}
.list-tile0{
  color: #EF464D;
  font-size:0.6rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width:33%;
  text-align:center;
}
.list-tile5{
  color: #0ECB81;
  font-size:0.6rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width:33%;
  text-align:center;
}
.list-tile1{
  color: #93959E;
  font-size:0.6rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width:33%;
  text-align:center;
}
.list-price {
  
  background-color:#2B3139;
  width:30rem;
  color:white;
  padding: 0.7rem 2rem 0.7rem 2rem;
  display:flex;
  flex-direction: row;
  flex:wrap;
  
}